<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Auto11.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Win11AutoUpgradeTool.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Auto11.Properties.Settings>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="autoRebootForFlightSigning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoAppRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSystemReservedFix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flightSigningNeedsReboot" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="enableUsbDriveSelector" serializeAs="String">
                <value>False</value>
            </setting>
        </Auto11.Properties.Settings>
        <Win11AutoUpgradeTool.Properties.Settings>
            <setting name="LastFile" serializeAs="String">
                <value />
            </setting>
            <setting name="autoRebootForFlightSigning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoAppRestart" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoSystemReservedFix" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="autoClose" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="flightSigningNeedsReboot" serializeAs="String">
                <value>False</value>
            </setting>
        </Win11AutoUpgradeTool.Properties.Settings>
    </userSettings>
</configuration>